<!DOCTYPE html>
<html>
  <head>
    <title>AdminPanel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

.photos {
    background-image: url("tech");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}


    <%= yield %>
  </body>
</html>
